.sliders {
    padding: 50px;
    background-color: gold !important;
}

.slide-item {
    margin: 0 10px;
    height: 250px;
    padding: 10px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: aqua;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.slick-slide {
    width: 450px !important;
    margin: 0 30px;
}